.board{		  
	margin-bottom: 30px;
	width: 100%;	
	font-size: 56px;	
	text-align: center;	
	font-weight: bold;	

	table{		
		margin: 0 auto;		
		width: 270px;
		border-collapse: collapse;		
		border: 11px solid #14BDAC;		 
	}

	td{		
		border: 10px solid #0da192;								 		
		width: 90px;
		height: 90px;
		color: #14BDAC;
		transition: all 0.5s ease;
	}
	.cross{
		color: #cf4242;				
	}
	.nought{
		color: white;		
	}	
	.clickable{
		cursor: pointer;				
	}	
	.clickable:hover{
		color: #0da192;		
	}	
	
}