.board{	
	margin-bottom: 30px;
	width: 100%;	

	table{		
		margin: 0 auto;		
		width: 100%;
		border-collapse: collapse;		
		border: 11px solid #14BDAC;		 
	}

	td{		
		border: 10px solid #0da192;		
		cursor: pointer;		
		width: 33%; padding-bottom: 33%; height: 0; 
	}

}