.text-box{		
	height: 60vh;
	padding: 10px;
	background: #0da192;
	color: #555;		

	#message-box{
		//height: 290px;
		height: 40vh;
		background: white;
		margin: 10px 0;
		overflow-y: scroll;
		.me{
			background: rgba(177,217,164,.5);
		}
		.opponent{
			background: rgba(204,240,254,.5);
			text-align: right;
		}
		p{
			padding: 0 10px;
		}
	}
	textarea{
		width: 100%;
		resize: none;		
	}
	span{
		color: black;
		.is-ready{
			display: inline-block;
			border-radius: 50%;
			width: 10px;
			height: 10px;			
			margin-right: 5px;
		}
	}
}